In [1]:
import pandas as pd
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

In [2]:
connection_string = "postgres:Cellxan69$$@localhost:5432/covid_db"
engine = create_engine(f'postgresql://{connection_string}')

In [6]:
df = pd.read_sql_query('SELECT * FROM covid', engine)
df

,date,state,tot_cases,new_case,tot_death,conf_death,new_death,total_vaccinations,people_vaccinated,people_fully_vaccinated_per_hundred,total_vaccinations_per_hundred,people_fully_vaccinated,people_vaccinated_per_hundred,distributed_per_hundred,daily_vaccinations,daily_vaccinations_per_million,share_doses_used
0,2021-03-01,AR,322509,94,5250,NaN,7,661572.0,424534.0,7.73,21.92,233135.0,14.07,29.58,18023.0,5972.0,0.741
1,2021-01-12,IA,298406,1105,4222,NaN,83,98691.0,91969.0,0.19,3.13,6099.0,2.91,6.62,NaN,NaN,0.472
2,2021-01-16,OH,821507,7065,10135,9080.0,78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21926.0,1876.0,NaN
3,2021-02-14,AR,313028,466,5265,NaN,13,472536.0,338611.0,4.33,15.66,130637.0,11.22,20.90,11299.0,3744.0,0.749
4,2021-02-26,KS,293663,826,4735,NaN,11,560776.0,383658.0,5.93,19.25,172744.0,13.17,29.58,13437.0,4612.0,0.651
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3181,2021-01-23,NM,168579,848,3115,NaN,38,184698.0,148964.0,1.58,8.81,33133.0,7.10,12.26,10812.0,5156.0,0.718
3182,2021-03-04,SD,113065,232,1896,1538.0,3,294765.0,193817.0,11.38,33.32,100712.0,21.91,42.59,6364.0,7194.0,0.782
3183,2021-02-21,KS,290832,0,4614,NaN,0,509332.0,356901.0,5.09,17.48,148378.0,12.25,22.17,17050.0,5852.0,0.789
3184,2021-01-24,UT,336405,1516,1595,1550.0,13,202729.0,175364.0,0.65,6.32,20697.0,5.47,10.66,8146.0,2541.0,0.593
3185,2021-02-10,OH,928631,3281,11856,10522.0,63,1406437.0,1077597.0,2.80,12.03,326984.0,9.22,18.40,45864.0,3924.0,0.654

In [4]:
df.to_html('/Users/marcellisv/Desktop/GitHub/Final_Projec/data/combined_covid_data.html', index=False)

In [5]:
df.to_csv('/Users/marcellisv/Desktop/GitHub/Final_Projec/data/combined_covid_data.csv', index=False)