In [8]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2
import urllib.parse
import datetime as dt
from urllib.parse import quote_plus as urlquote
# Python
import pandas as pd
from fbprophet import Prophet

In [12]:
connection_string = "postgres:Cellxan69$$@localhost:5432/covid_db"
engine = create_engine(f'postgresql://{connection_string}')

In [21]:
casses_df = pd.read_sql_query('SELECT * FROM cases', engine)
vaccine_df = pd.read_sql_query('SELECT * FROM vaccine', engine)

In [40]:
casses_df

,index,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths
0,0,05/04/2020,KY,5245,5245.0,0.0,115,0.0,261,261.0,0.0,8,0.0,05/05/2020 05:25:08 PM,Agree,Agree
1,1,03/23/2020,NH,101,NaN,NaN,23,NaN,1,NaN,NaN,1,NaN,03/26/2020 04:22:39 PM,Not agree,Not agree
2,2,10/28/2020,RI,31944,NaN,NaN,499,0.0,1192,NaN,NaN,4,0.0,10/29/2020 02:11:33 PM,Not agree,None
3,3,05/29/2020,NJ,159196,NaN,NaN,1673,14.0,11531,11531.0,0.0,130,0.0,02/19/2021 01:38:31 PM,Not agree,Agree
4,4,02/14/2020,DC,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49075,24535,03/23/2020,RI,106,NaN,NaN,9,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Not agree,None
49076,24536,10/09/2020,GU,2989,NaN,NaN,0,0.0,58,NaN,NaN,0,0.0,10/10/2020 01:30:17 PM,Not agree,Not agree
49077,24537,07/12/2020,DC,10847,NaN,NaN,46,0.0,568,NaN,NaN,0,0.0,07/13/2020 03:19:34 PM,None,None
49078,24538,03/05/2020,MI,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Agree,Agree
49079,24539,02/03/2021,CA,3281271,NaN,NaN,10501,0.0,41811,NaN,NaN,481,0.0,02/04/2021 02:53:58 PM,Not agree,Not agree

In [24]:
vaccine_df

,index,date,location,total_vaccinations,total_distributed,people_vaccinated,people_fully_vaccinated_per_hundred,total_vaccinations_per_hundred,people_fully_vaccinated,people_vaccinated_per_hundred,distributed_per_hundred,daily_vaccinations_raw,daily_vaccinations,daily_vaccinations_per_million,share_doses_used
0,0,2021-01-12,Alabama,78134.0,377025.0,70861.0,0.15,1.59,7270.0,1.44,7.69,NaN,NaN,NaN,0.207
1,1,2021-01-13,Alabama,84040.0,378975.0,74792.0,0.19,1.71,9245.0,1.52,7.73,5906.0,5906.0,1205.0,0.222
2,2,2021-01-14,Alabama,92300.0,435350.0,80480.0,NaN,1.88,NaN,1.64,8.88,8260.0,7083.0,1445.0,0.212
3,3,2021-01-15,Alabama,100567.0,444650.0,86956.0,0.27,2.05,13488.0,1.77,9.07,8267.0,7478.0,1525.0,0.226
4,4,2021-01-16,Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7557.0,7498.0,1529.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6671,3333,2021-02-27,Wyoming,151584.0,195855.0,98484.0,9.09,26.19,52608.0,17.02,33.84,6007.0,3218.0,5560.0,0.774
6672,3334,2021-02-28,Wyoming,156397.0,195855.0,100902.0,9.50,27.02,54962.0,17.43,33.84,4813.0,3847.0,6647.0,0.799
6673,3335,2021-03-01,Wyoming,156741.0,195855.0,100903.0,9.56,27.08,55305.0,17.43,33.84,344.0,3015.0,5209.0,0.800
6674,3336,2021-03-02,Wyoming,156776.0,211415.0,100911.0,9.56,27.09,55332.0,17.44,36.53,35.0,2945.0,5088.0,0.742
6675,3337,2021-03-03,Wyoming,162918.0,217215.0,104459.0,10.00,28.15,57895.0,18.05,37.53,6142.0,3793.0,6554.0,0.750

In [39]:

start_date = "2021-1-12"
end_date = "2021-3-5"

after_start_date = cases_df["date"] >= start_date
before_end_date = cases_df["date"] <= end_date
between_two_dates = after_start_date & before_end_date
filtered_dates = cases_df.loc[between_two_dates]
cases_df

KeyError: 'date'

In [36]:
vaccine_df

,index,date,location,total_vaccinations,total_distributed,people_vaccinated,people_fully_vaccinated_per_hundred,total_vaccinations_per_hundred,people_fully_vaccinated,people_vaccinated_per_hundred,distributed_per_hundred,daily_vaccinations_raw,daily_vaccinations,daily_vaccinations_per_million,share_doses_used
0,0,2021-01-12,Alabama,78134.0,377025.0,70861.0,0.15,1.59,7270.0,1.44,7.69,NaN,NaN,NaN,0.207
1,1,2021-01-13,Alabama,84040.0,378975.0,74792.0,0.19,1.71,9245.0,1.52,7.73,5906.0,5906.0,1205.0,0.222
2,2,2021-01-14,Alabama,92300.0,435350.0,80480.0,NaN,1.88,NaN,1.64,8.88,8260.0,7083.0,1445.0,0.212
3,3,2021-01-15,Alabama,100567.0,444650.0,86956.0,0.27,2.05,13488.0,1.77,9.07,8267.0,7478.0,1525.0,0.226
4,4,2021-01-16,Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7557.0,7498.0,1529.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6671,3333,2021-02-27,Wyoming,151584.0,195855.0,98484.0,9.09,26.19,52608.0,17.02,33.84,6007.0,3218.0,5560.0,0.774
6672,3334,2021-02-28,Wyoming,156397.0,195855.0,100902.0,9.50,27.02,54962.0,17.43,33.84,4813.0,3847.0,6647.0,0.799
6673,3335,2021-03-01,Wyoming,156741.0,195855.0,100903.0,9.56,27.08,55305.0,17.43,33.84,344.0,3015.0,5209.0,0.800
6674,3336,2021-03-02,Wyoming,156776.0,211415.0,100911.0,9.56,27.09,55332.0,17.44,36.53,35.0,2945.0,5088.0,0.742
6675,3337,2021-03-03,Wyoming,162918.0,217215.0,104459.0,10.00,28.15,57895.0,18.05,37.53,6142.0,3793.0,6554.0,0.750